<div class="aboutMe">
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur delectus error fugit, in iusto, nisi officiis perferendis quia quod reprehenderit rerum tempora vitae! Adipisci debitis ipsa nisi perferendis quod voluptatibus.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid culpa debitis deserunt, eaque excepturi facere itaque labore laboriosam, minus natus necessitatibus nemo neque quae quaerat quo sed voluptates, voluptatibus?
    </h5>
</div>