<div class="showName">
    <h2>Hello {{ name }}</h2>
    <form method="post">
        <label for="name">name:</label><br>
        <input type="text" id="name" name="name"><br>
        <input type="submit" value="Submit">
    </form>
</div>